In [3]:
import pandas as pd
import numpy as np

In [4]:
#np?

In [5]:
population_dict = {'California': 38332521,
'Texas': 26448193,
"New York": 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = pd.Series(population_dict)
print(population)

print(population['California': 'New York'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [6]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [7]:
states = pd.DataFrame({'population': population, 'area': area})

print(states)

print(states.index, "\n")
print(states.columns)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [8]:
print(states['area'])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [9]:
arr = np.random.rand(3,2)
print(arr,"\n")

df = pd.DataFrame(arr, columns=['foo','bar'], index=['a', 'b', 'c'])
print(df)

[[0.95882953 0.99769789]
 [0.43584701 0.30925501]
 [0.70164951 0.41186837]]

        foo       bar
a  0.958830  0.997698
b  0.435847  0.309255
c  0.701650  0.411868

In [10]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser,"\n")
print('a' in ser)
print(0.25 in ser)

print(ser.keys())

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

True
False
Index(['a', 'b', 'c', 'd'], dtype='object')

In [16]:
print(ser.keys())
ser['e'] = 1.25
ser['a'] = 0.125
      
print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [11]:
states['density'] = states['population'] / states['area']

print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [12]:
states.iloc[:3]

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746

In [14]:
print(states.loc[states.density > 100, ['population', 'density']])

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121