In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [23]:
# Creating a Numpy Array

lst = [1.5, "string", True]

arr = np.array(lst)
print(arr)

['1.5' 'string' 'True']

In [24]:
# .dtype attribute
print(arr.dtype) # U32 = 여러 타입들이 혼합 되어 있다.

<U32

In [35]:
from sys import getsizeof

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
print(getsizeof(lst))

arr = np.array(lst)
print(getsizeof(arr))

192
172

In [42]:
prices = [30, 25, 40, 20, 20, 35, 50, 35]

# with a list
new_prices = [price - 5 for price in prices]
print(new_prices)

# wirh a ndarray
prices_arr = np.array(prices)
prices_arr = prices_arr - 5
print(prices_arr)

[25, 20, 35, 15, 15, 30, 45, 30]
[25 20 35 15 15 30 45 30]

In [70]:
# 실습

test_1 = np.array([92, 94, 88, 91, 87])
test_2 = np.array([79, 100, 86, 93, 91])
test_3 = np.array([87, 85, 72, 90, 92])

test_3_fixed = test_3 + 2
print(test_3_fixed)

total_grade = test_1 + test_2 + test_3
print(total_grade)

final_grade = total_grade / 3
print(final_grade)

jeremy_test_2 = test_2[3]
print(jeremy_test_2)

manual_adwoa_test_1 = np.array([test_1[1], test_1[2]])
print(manual_adwoa_test_1)

student_scores = np.array([test_1, test_2, test_3])
print(student_scores)

print(student_scores[2,0])

print(student_scores[:,-1])

[89 87 74 92 94]
[258 279 246 274 270]
[86.         93.         82.         91.33333333 90.        ]
93
[94 88]
[[ 92  94  88  91  87]
 [ 79 100  86  93  91]
 [ 87  85  72  90  92]]
87
[87 91 92]

In [77]:
# masking

a = np.array([10, 2, 2, 4, 5, 3, 9, 8, 9, 7])
mask =a >5
print(mask)

# select using LogicaL operations

selected = a[a > 5]
print(selected)

# combined LogicaL operations  | &

selected = a[(a > 6) | (a < 4)]
print(selected)

selected = a[(a > 4) & (a < 8)]
print(selected)

[ True False False False False False  True  True  True  True]
[10  9  8  9  7]
[10  2  2  3  9  8  9  7]
[5 7]

In [82]:
#실습2

porridge = np.array([79, 65, 50, 63, 56, 90, 85, 98, 79, 51])
cold = porridge[porridge < 60]
hot = porridge[porridge > 80]
just_right = porridge[(porridge >= 60) &  (porridge <= 80)]

print(porridge)
print(cold)
print(hot)
print(just_right)

[79 65 50 63 56 90 85 98 79 51]
[50 56 51]
[90 85 98]
[79 65 63 79]